html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-image: url("/Cover_5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #171617;
}

.scroll {
  opacity: 0;
  z-index: 3;
  position: absolute;
  height: auto;
  width: 8%;
  top: 88%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
  animation: fade 1s steps(80, end);
  animation-fill-mode: forwards;
  animation-delay: 3.2s;
}

.hackclub {
  z-index: 5;
  height: 10%;
  width: 10%;
  opacity: 1;
  top: -11vh;
  left: 4vw;
  position: absolute;
}

.logo {
  z-index: 2;
  opacity: 0;
  height: auto;
  width: 10vw;
  top: 39vh; /* Center vertically */
  left: 18vw; /* Center horizontally */
  transform-origin: center center;

  position: absolute;
  animation: fade 1s steps(80, end);
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}

.block {
  height: 50px;
}


.background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
   /* Make sure image fills the container */
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1.05);
  object-fit: cover;
}

.text {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  max-width: 80vw;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.name {
  font-size: 6.25vw;
  top: 48vh; /* Center vertically */
  left: 50vw; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
}

.box-text {
  top: 50px; /* Adjust to your needs */
  left: 25px; /* Adjust to your needs */
  z-index: 1;
  text-align: center;
  margin: auto;
  font-size: 3vw;
}

.box-animation {
  position: absolute;
  z-index: 2;
  top: 52vh;
  left: 66vw;
  width: 8vw;
  height: 8vh;
  text-align: center;
  justify-content: center;
  display: flex;
  background: white;
  border-radius: 30px;
}


.year {
  font-size: 4.1vw;
  opacity: 0;
  top: 51.5vh; /* Center vertically */
  left: 36vw; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
  animation: fade 1s steps(80, end);
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}

.content {
  display: flex;
  flex-direction: column; /* Ensure content within columns stacks vertically */
  justify-content: flex-start;
  height: 100%;
  padding: 20px; /* Add padding for aesthetic spacing */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Makes sure the image covers the container */
}

/*.animated-blur {
  animation: blurAnimation 2s forwards; /* 5s duration, infinite loop 
}*/

.info {
  margin: 10%;
}

.contact {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

@keyframes blurAnimation {
  0% {
    filter: blur(0px); /* No blur at the start */
  }
  100% {
    filter: blur(10px); /* Back to no blur at the end */
  }
}

.typed {
  width: 0;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.0em; /* Adjust as needed */
  animation: typing 3s steps(40, end) forwards,
    blink-caret 1.4s steps(40, end) forwards,
    slide 0.5s steps(80, end) forwards 2s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  25% {
    border-color: #BB6DD1;
  }
  50% {
    border-color: transparent;
  }
  75% {
    border-color: #BB6DD1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    left: 50%;
  }
  to {
    left: 52.5%;
  }
}

.rounded {
  object-fit: cover;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

h1 {
	font-size: 7em;
	margin-bottom: 0px;
	margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 5 00;
  font-style: normal;
  color: white;
}

h2 {
	font-size: 2.55em;
	margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: white;
}

h3 {
	font-size: 2.5em;
	margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

h4 {
	font-size: 1.75em;
	margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
}

p {
	font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.link-text {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: "inline-flex";
  padding-left: 20;
  color: white;
}

.link-text:hover {
  color: #BB6DD1;
  text-decoration: underline;
}

li {
	font-size: 1.5em;
	padding-bottom: .5em;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.bottom {
  height: 197px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cover {
	width: 100%;
	min-height: 100%;
	background: none;
	display: flex;
  align-items: stretch;
  justify-content: space-between
}


.vert {
	flex-direction: column;
}

.hori {
	flex-direction: row;
}

.contact-flex {
  position: relative;
  overflow: hidden;
  flex: 1;
	margin: 0 0%; /* Adjust margins as needed */
  display: flex; /* Make sure columns are also flex containers */
  flex-direction: column; /* Stack columns vertically */
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Stacks contact items vertically */
  align-items: flex-start;
  gap: 15px; /* Adds spacing between contact items */
}

.column {
  position: relative;
  overflow: hidden;
  flex: 1;
	margin: 0 0%; /* Adjust margins as needed */
  display: flex; /* Make sure columns are also flex containers */
  flex-direction: column; /* Stack columns vertically */
}

.right {
  margin-right: 5% !important;
}

.left {
  margin-left: 5% !important;
}

.even .column {
	flex: 50%;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
}

@media only screen and (orientation: portrait) {
	.cover {
		flex-direction: column;
	}

	.hori {
		flex-direction: column;
	}

	.column {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 10%;
		margin-right: 10%;
	}

	.row {
		margin-left: 10%;
		margin-right: 10%;
	}

  .name {
    top: 49vh;
  }

  .hackclub {
    top: -19vh;
    height: 25vh;
    width: 25vw;
  }

  .logo {
    top: 47vh;
  }

  .box-animation {
    width: 12vw;
    height: 2.5vh;
    top: 51vh;
    left: 62vw;
  }

}

@media only screen and (orientation: landscape) {
  .name {
    top: 44vh; /* Adjust vertical positioning */
  }

  .year {
    top: 56vh;
  }
}

.button-info {
  position: absolute;
  z-index: 2;
  top: 52vh;
  left: 59vw;
}