html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  background-color: #909dbc;
}

.scroll {
  opacity: 0;
  z-index: 3;
  position: absolute;
  height: auto;
  width: 8%;
  top: 88%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
  animation: fade 1s steps(80, end);
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
}

.logo {
  z-index: 2;
  opacity: 0;
  height: auto;
  width: 10vw;
  top: 50%; /* Center vertically */
  left: 22%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */

  position: absolute;
  animation: fade 1s steps(80, end);
  animation-fill-mode: forwards;
  animation-delay: 5.2s;
}

.block {
  height: 50px;
}


.background {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
   /* Make sure image fills the container */
  top: 0;
  left: 0;
  z-index: 1;
  transform: scale(1.05);
  object-fit: cover;
}

.text {
  position: absolute;
  color: white;
  text-align: center;
  z-index: 2;
  overflow: hidden;
  max-width: 80vw;
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.name {
  font-size: 6.25vw;
  top: 48vh; /* Center vertically */
  left: 50vw; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
}

.year {
  font-size: 4.1vw;
  opacity: 0;
  top: 51.5vh; /* Center vertically */
  left: 36vw; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for true centering */
  animation: fade 1s steps(80, end);
  animation-fill-mode: forwards;
  animation-delay: 5.2s;
}

.content {
  display: flex;
  flex-direction: column; /* Ensure content within columns stacks vertically */
  justify-content: flex-start;
  height: 100%;
  padding: 20px; /* Add padding for aesthetic spacing */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Makes sure the image covers the container */
}

.animated-blur {
  animation: blurAnimation 2s forwards; /* 5s duration, infinite loop */
}

@keyframes blurAnimation {
  0% {
    filter: blur(0px); /* No blur at the start */
  }
  100% {
    filter: blur(10px); /* Back to no blur at the end */
  }
}

.typed {
  width: 0;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.05em; /* Adjust as needed */
  animation: typing 3s steps(40, end) forwards 3s,
    blink-caret 1.6s steps(40, end) forwards 3s,
    slide 0.5s steps(80, end) forwards 5s;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  25% {
    border-color: orange;
  }
  50% {
    border-color: transparent;
  }
  75% {
    border-color: orange;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide {
  from {
    left: 50%;
  }
  to {
    left: 56%;
  }
}

h1 {
	font-size: 7em;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2 {
	font-weight: 800;
	font-size: 2.6em;
	margin-bottom: 0px;
}

h3 {
	font-size: 2.5em;
	margin-bottom: 0px;
}

h4 {
	font-size: 1.75em;
	margin-bottom: 0px;
}

p {
	font-size: 1.5em;
}

li {
	font-size: 1.5em;
	padding-bottom: .5em;
}

.cover {
	width: 100%;
	min-height: 100%;
	background: none;
	display: flex;
  align-items: stretch;
  justify-content: space-between
}


.vert {
	flex-direction: column;
}

.hori {
	flex-direction: row;
}

.column {
  position: relative;
  overflow: hidden;
  flex: 1;
	margin: 0 5%; /* Adjust margins as needed */
  display: flex; /* Make sure columns are also flex containers */
  flex-direction: column; /* Stack columns vertically */
}

.even .column {
	flex: 50%;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: auto;
	margin-left: 5%;
	margin-right: 5%;
}

@media only screen and (orientation: portrait) {
	.cover {
		flex-direction: column;
	}

	.hori {
		flex-direction: column;
	}

	.column {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-left: 10%;
		margin-right: 10%;
	}

	.row {
		margin-left: 10%;
		margin-right: 10%;
	}

  .name {
    top: 48vh;
  }
}

@media only screen and (orientation: landscape) {
  .name {
    top: 45vh; /* Adjust vertical positioning */
  }

  .year {
    top: 55vh;
  }
}